@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f8fafc;
  // background: #1a1e2e;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
}

p {
  color: #878787;
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}

.footer {
  z-index: 1000;
  width: 100%;
  position: fixed;
  text-align: right;
  bottom: 0px;
  padding: 0 30px;

  span {
    font-weight: 300;
    font-size: 0.6rem;
  }
}

.profile {
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.fuga {
  position: relative;
  flex-shrink: 0;
  text-align: left;
  // height: 50vh;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.card:hover ~ .card__intro {
  background-color: lightgreen;
}

.card__intro {
}

.fullscreen {
  height: 100vh;

  .product {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .img {
      width: 50%;
      height: 100%;
      background: #dfdfdf;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        cursor: move;
        width: 500px;
      }
    }
    .product-details {
      width: 50%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      overflow: scroll;

      .inner {
        width: 480px;
        position: relative;

        .category {
          font-size: 1rem;
          color: #424550;
          font-weight: 500;
          text-align: center;
          width: 100%;
          margin-bottom: 32px;
        }
        p {
          color: #424550;
          font-weight: 300;
        }
        .additonals {
          margin: 24px 0 48px;
          span {
            margin-right: 16px;
            color: #424550;
          }
        }
        .qty-price {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .qty {
            display: flex;
            align-items: center;
            .add,
            .minus {
              padding: 6px;
              margin: 8px 16px;
              height: 24px;
              width: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 100px;
            }
            .add {
              border: 1px solid #282828;
              cursor: pointer;
            }
            .minus {
              margin-left: 0;
              background: #dfdfdf;
              color: #787878;
            }
          }
          .price {
            color: #282828;
            font-weight: 700;
            font-size: 1.4rem;
          }
        }

        .btn-row {
          margin-top: 72px;
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            cursor: pointer;
            border: none;
            border-radius: 8px;
            height: 48px;
            padding: 0 48px;
            font-size: 0.875rem;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.06rem;
            &.add-to-cart {
              background: #2d89fa;
              color: #fff;
              margin-right: 24px;
            }
            &.subscribe {
              background: transparent;
              color: #424550;
            }
          }
        }
      }
    }
  }
}
