@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f8fafc;
  // background: #1a1e2e;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
}

p {
  color: #878787;
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}

// .header {
//   padding: 0 30px;
//   z-index: 1000;
//   width: 100%;
//   position: fixed;
//   top: 0;
//   left: 0;

//   .typing-demo {
//     animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
//     white-space: nowrap;
//     overflow: hidden;
//     border-right: 3px solid;
//     font-size: 2em;
//   }

//   @keyframes typing {
//     from {
//       width: 0;
//     }
//   }

//   @keyframes blink {
//     50% {
//       border-color: transparent;
//     }
//   }

//   h1 {
//     font-size: 1.25rem;
//     font-weight: 700;
//     line-height: 1.25;
//     letter-spacing: 0.025em;
//   }
// }

.footer {
  z-index: 1000;
  width: 100%;
  position: fixed;
  text-align: right;
  bottom: 0px;
  padding: 0 30px;

  span {
    font-weight: 300;
    font-size: 0.6rem;
  }
}

.hoge {
  padding-right: 200px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

// .container {
//   width: 100vw;
//   height: 100vh;
//   min-height: -webkit-fill-available; /* mobile viewport bug fix */
//   overflow-x: auto;
//   scroll-behavior: smooth;
//   margin: 0 auto;

// .product-row {
//   display: flex;
//   // justify-content: center;
//   align-items: center;
//   flex-wrap: nowrap;
//   height: 100%;

//   @keyframes typing {
//     from {
//       width: 0;
//     }
//   }

//   @keyframes blink {
//     50% {
//       border-color: transparent;
//     }
//   }
// }

.fuga {
  position: relative;
  flex-shrink: 0;
  text-align: left;
  // height: 50vh;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.card {
  position: relative;
  flex-shrink: 0;
  text-align: left;
  background: #ffffff;
  border-radius: 12px;

  width: 800px;
  height: 800px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12),
    0 10px 10px -5px rgba(0, 0, 0, 0.125);

  .category {
    font-size: 0.875rem;
    color: #424550;
    font-weight: 500;
    text-align: center;
    width: 100%;
    margin-bottom: 32px;
    display: block;
  }

  img {
    z-index: 200;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    background-size: cover;
    height: 300px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    backface-visibility: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0);
    }
  }

  .product-info {
    padding: 14px;
    width: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;

    h4 {
      color: #282828;
      font-size: 0.8em;
      margin-bottom: 0.2em;
      margin-top: 0;
      font-weight: 700;
    }

    span {
      font-size: 0.6em;
      display: block;
      text-align: left;
      margin-bottom: 0.2em;
    }
  }
}

.fullscreen {
  height: 100vh;

  .product {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .img {
      width: 50%;
      height: 100%;
      background: #dfdfdf;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        cursor: move;
        width: 500px;
      }
    }
    .product-details {
      width: 50%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      overflow: scroll;
      
      .inner {
        width: 480px;
        position: relative;

        .category {
          font-size: 1rem;
          color: #424550;
          font-weight: 500;
          text-align: center;
          width: 100%;
          margin-bottom: 32px;
        }
        p {
          color: #424550;
          font-weight: 300;
        }
        .additonals {
          margin: 24px 0 48px;
          span {
            margin-right: 16px;
            color: #424550;
          }
        }
        .qty-price {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .qty {
            display: flex;
            align-items: center;
            .add,
            .minus {
              padding: 6px;
              margin: 8px 16px;
              height: 24px;
              width: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 100px;
            }
            .add {
              border: 1px solid #282828;
              cursor: pointer;
            }
            .minus {
              margin-left: 0;
              background: #dfdfdf;
              color: #787878;
            }
          }
          .price {
            color: #282828;
            font-weight: 700;
            font-size: 1.4rem;
          }
        }

        .btn-row {
          margin-top: 72px;
          display: flex;
          align-items: center;
          justify-content: start;

          button {
            cursor: pointer;
            border: none;
            border-radius: 8px;
            height: 48px;
            padding: 0 48px;
            font-size: 0.875rem;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.06rem;
            &.add-to-cart {
              background: #2d89fa;
              color: #fff;
              margin-right: 24px;
            }
            &.subscribe {
              background: transparent;
              color: #424550;
            }
          }
        }
      }
    }
  }
}
